@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

@keyframes slideIn {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes slideOut {
  from {
    width: 100%;
    left: 0;
  }

  to {
    width: 0;
    left: 100%;
  }
}

.underline-animation {
  position: relative;
}

.underline-animation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 5px;
  background-color: #00adb5;
  transition: all 0.3s;
}

.underline-animation:has(a.underline-in)::after {
  animation: slideIn 0.3s forwards;
}

.underline-animation:has(a.underline-out)::after {
  animation: slideOut 0.3s forwards;
}
