---
import { Font } from "astro:assets";
const { title = "shasherazi's portfolio" } = Astro.props;
---

<title>{title}</title>

<Font cssVariable="--font-jetbrains-mono" preload />

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
