@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Lato", sans-serif;
  color: #333;
  overflow-x: hidden;
}

.dark {
  background: #222;
  color: #fff;
}

@keyframes backgroundWipe {
  from {
    width: 0;
  }
  to {
    width: 100vw;
  }
}

.intro-name {
  width: calc(100vw - 15px);
}

.intro-name-bg {
  animation: backgroundWipe 3s ease-in-out forwards;
}

@media (prefers-reduced-motion: reduce) {
  .intro-name-bg {
    animation: none;
    width: 100vw;
  }
}
