---
import "../styles/globals.css";
import Head from "../components/Head.astro";

const { title = "shasherazi's portfolio" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={title} />
  </head>
  <body class="bg-bg min-h-screen text-fg overflow-x-hidden">
    <!-- TODO: maybe a fade gradient merging with the body -->
    <nav class="py-6 mb-8 flex items-center justify-end-safe pr-10 max-md:pr-6">
      <ul class="flex gap-6">
        <li class="underline hover:italic hover:decoration-accent">
          <a href="/">home</a>
        </li>
        <li class="underline hover:italic hover:decoration-accent">
          <a href="/blog">blog</a>
        </li>
      </ul>
    </nav>
    <div>
      <slot />
    </div>
  </body>
</html>

<style>
  body {
    font-family: var(--font-jetbrains-mono);
  }
</style>
